/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/BangumiSearch/SingleResult.css ***!
  \************************************************************************************************************************************************************/
.bangumi-result {
  background: var(--main-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  max-width: 400px;
  cursor: pointer;
}
.bangumi-result > * {
    margin: 5px 0;
  }
.bangumi-result img {
    border-radius: 10px;
  }
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/BangumiSearch/BangumiResults.css ***!
  \**************************************************************************************************************************************************************/
.results-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/InfoPage.css ***!
  \******************************************************************************************************************************************/
.info-popup {
  position: fixed;
  display: grid;
  inset: 0;
  width: max(600px, 80vw);
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 50px;
  place-content: center;
  background: var(--main-color-half-opacity);
  box-shadow: 0px 0px 5px #00000020;
  margin: auto;
  opacity: 0;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  transition: transform 0.5s, opacity 0.5s, -webkit-backdrop-filter 0.5s;
  transition: transform 0.5s, backdrop-filter 0.5s, opacity 0.5s;
  transition: transform 0.5s, backdrop-filter 0.5s, opacity 0.5s, -webkit-backdrop-filter 0.5s;

  max-width: 60vw;
}

.info-popup.visible {
    z-index: 100;
    opacity: 1;
  }

.info-popup:not(.visible) {
    pointer-events: none;
  }

.info-wrapper {
  position: relative;
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #FF000090;
}

.info-header {
  display: flex;
  
}
/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/App.css ***!
  \*************************************************************************************************************************************/
.input-wrapper {
  color: var(--text-color);
  background-color: var(--background-color);
  filter: var(--drop-shadow);
  border-radius: 30px;
  padding: 12px 15px;
  display: flex;
  margin: auto 0;
  height: 35px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.input-wrapper input {
    margin: 0;
    display: block;
    color: var(--text-color);
    white-space: pre;
    padding-right: 2px;
    position: relative;
    
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: -1px;
    margin-left: 4px;
    resize: none;
  }

.input-box {
  background: var(--main-color);
  padding: 50px 100px;
  filter: var(--drop-shadow);
}

.search-string {
  -moz-text-align-last: center;
       text-align-last: center;
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/index.css ***!
  \***************************************************************************************************************************************/
body {
  background: var(--background-color);
  margin: 0;
  --max-content-width: calc(100vw - 40px);

  /* color components */
  --main-component: 71, 61%;
  --l: 71%;
  --l-t: 90%;
  --l-dark: calc(var(--l) - 50%);
  --hsl-main: var(--main-component), var(--l);
  --hsl-dark: var(--main-component), var(--l-t);
  
  /* premade colors */
  --main-color: hsl(var(--hsl-main));
  --main-highlight-color: hsl(var(--hsl-dark));
  --text-color: hsl(var(--hsl-dark));
  --button-click-color: #e3e3e3;
  --button-click-text-color: hsl(var(--hsl-main));

  --main-color-half-opacity: hsla(var(--hsl-main), 0.75);
  --text-color-half-opacity: hsla(var(--hsl-dark), 0.5);

  --background-color: hsl(var(--main-component), calc(var(--l) - 10%));
  --background-color-copy: hsl(var(--main-component), calc(var(--l) - 10%));
  --drop-shadow: drop-shadow(1px 1px 2px hsla(var(--main-component), var(--l-dark), 0.2));
  
  -webkit-tap-highlight-color: transparent;
}

body.night-mode {
    --main-color: 0, 0%;
    --l: 21%;
    --hsl-main: var(--main-component), var(--l);
    --hsl-dark: var(--main-component), var(--l-t);
  }

body.light {
    --l-t: 10%;
  }

html .jp {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
}

html * {
  color: var(--text-color);
}
