.bangumi-result {
  background: var(--main-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  max-width: 400px;
  cursor: pointer;
  filter: var(--drop-shadow);

  & > * {
    margin: 5px 0;
  }
}