.bangumi-result {
  background: var(--main-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  max-width: 400px;
  cursor: pointer;
  filter: var(--drop-shadow);

  & > * {
    margin: 5px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .bangumi-result {
    width: 80vw;
    max-width: none;
    flex-direction: row;
    gap: 20px;

    & .image {
      flex-basis: 35%;
      display: flex;

      & img {
        height: 100%;
      }
    }

    & .result-info {
      flex-basis: 65%;
    }
  }
}