.advanced-options {
  gap: 25px;
  display: flex;
  position: absolute;
  bottom: 50%;
  width: 100%;
  justify-content: center;
  transition: bottom 0.2s, opacity 0.2s;
  opacity: 0;
  z-index: -1;

  & > div {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  &.active {
    bottom: 15px;
    opacity: 1;
  }

  & label {
    display: flex;
  }

  .select-wrapper {
    position: relative;

    & .select-label {
      display: flex;
    }

    & select {
      appearance: none;
      font-size: 16px;
      padding: 5px 16px;
      background: var(--background-color);
      color: var(--text-color);
      border: none;
      border-radius: 30px;
      text-align: center;
  
      &:focus-visible {
        outline: none;
      }
  
      & option {
        border: none;
        text-align: justify;
      }
    }
  }
}