.calendar-wrapper {
  padding: 0 min(5vw, 40px) min(5vw, 40px);
  margin: 30px 0 90px;
}

.calendar {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  max-width: 100vw;

  @media screen and (max-width: 650px) {
    scroll-snap-type: x mandatory;
  }

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;  /* Firefox */
  }
}

.calendar-day {
  flex-shrink: 0;
  max-width: 400px;
  scroll-snap-align: start;

  &:not(:last-child) {
    & .entries {
      border-right: 2px var(--text-color-half-opacity) solid;
    }
  }

  & .entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;

    & .entry-info {
      margin-right: 5px;
      overflow: hidden;

      & p {
        white-space: pre;
      }
    }
  }

  & .info-fragment {
    max-width: 100%;
    width: min(400px, 90vw);
  }
}