.search-string {
  text-align-last: center;
}

.image {
  aspect-ratio: 0.66;
  margin: 0;
  position: relative;

  & .missing-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

img {
  aspect-ratio: 0.66;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
  height: 300px;
}

main:has(.info-popup.visible) {
  height: 100vh;
  overflow: hidden;
}

.icon.missing-image {
  width: 50%;
}