.info-popup {
  position: fixed;
  display: grid;
  inset: 0;
  width: max(600px, 80vw);
  height: fit-content;
  padding: 50px;
  border-radius: 50px;
  place-content: center;
  background: var(--main-color-half-opacity);
  box-shadow: 0px 0px 5px #00000020;
  margin: auto;
  opacity: 0;
  backdrop-filter: blur(25px);
  transition: transform 0.5s, backdrop-filter 0.5s, opacity 0.5s;

  max-width: 60vw;

  &.visible {
    z-index: 100;
    opacity: 1;
  }

  &:not(.visible) {
    pointer-events: none;
  }
}

.info-wrapper {
  position: relative;
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #FF000090;
}

.info-header {
  display: flex;
  
}