.infobox {
  & .info-fragment {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    &.character {
      & img {
        object-position: top;
        height: 150px;
      }
    }

    & .info-name {
      white-space: nowrap;
      font-weight: 500;
      margin: 0;
      background: var(--text-color);
      color: var(--background-color);
      padding: 3px 6px;
      margin-bottom: auto;
    }

    & .info-details {
      overflow-wrap: anywhere;
      margin: 0;
      align-self: center;
    }
  }
}