.info-popup {
  position: fixed;
  display: grid;
  inset: 0;
  place-content: center;
  margin: auto;
  opacity: 1;
  z-index: 100;
  pointer-events: none;

  &.visible {
    pointer-events: initial;

    & .info-wrapper {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:not(.visible) {
    pointer-events: none;
  }

  &.visible .interaction-blocker {
    position: fixed;
    display: grid;
    inset: 0;
    z-index: -1;
    touch-action: none;
  }
}

.info-wrapper {
  background: var(--main-color-half-opacity);
  box-shadow: 0px 0px 5px #00000020;
  backdrop-filter: blur(25px);
  width: min(850px, calc(90vw - 50px));
  height: 80vh;
  padding: 40px;
  border-radius: 50px;
  position: relative;
  display: flex;
  opacity: 0;
  
  transition: all 0.2s;
  transform: scale(0.95);

  @media screen and (max-width: 650px) {
    background: var(--main-color);
    backdrop-filter: none;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  & .loading {
    margin: auto;
  }

  & .main-content {
    overflow: auto;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    @media screen and (max-width: 650px) {
      border-radius: 0;
      gap: 0;
  
      & .info-header {
        flex-direction: column;
        
        & .image {
          flex-basis: unset;
          max-height: min(120vw, 70vh);
          min-height: 20%;
          position: sticky;
          z-index: -1;
          width: 100%;
          top: 0;

          & img {
            border-radius: 0;
            margin-bottom: -15%;
            max-height: 130vh;
            object-position: top;
          }
        }
    
        & .info-header-text {
          flex-basis: unset;
          padding: 0 max(5vw, 20px) max(5vw, 20px);
          position: relative;
          align-self: auto;

          &::before {
            position:absolute;
            content: " ";
            width: 100%;
            z-index: -1;
            left: 0;
            height: calc(max(120%, 140vw) + max(20vw, 20%));
            background: var(--main-color-half-opacity);
            backdrop-filter: blur(25px);
          }
        }
      }
  
      & .infobox {
        padding: 0 max(5vw, 20px) max(5vw, 20px);
      }
    }
  }

  & .info-header {
    display: flex;
    gap: 20px;

    & .image {
      flex-basis: 40%;
      aspect-ratio: unset;

      &:not(.sub) {
        & img {
          aspect-ratio: unset;
        }
      }

      &.sub {
        & img {
          object-position: top;
        }
      }
  
      & img {
        border-radius: 15px;
        width: 100%;
        height: auto;
      }
    }

    & .info-header-text {
      align-self: center;
      flex-basis: 60%;
    }

    @media screen and (min-width: 650px) {
      & .image {
        position: sticky;
        top: 0;
        height: fit-content;
      }

      & .info-header-text {
        & h1 {
          margin-top: 5px;
        }
      }
    }
  }
}

.close-button {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
  display: none;
  padding: 12px;
  border-radius: 30px;
  transition: transform 0.3s, filter 0.3s;

  @media screen and (max-width: 650px) {
    display: block;
    background: var(--main-color-half-opacity);
    right: 60px;
    top: 60px;
  }

  & svg {
    width: 36px;
    display: block;
  }

  &:hover {
    transform: scale(1.1);
    filter: var(--drop-shadow);
  }
}