.info-popup {
  position: fixed;
  display: grid;
  inset: 0;
  place-content: center;
  margin: auto;
  opacity: 1;
  pointer-events: none;

  &.visible {
    z-index: 100;
    pointer-events: initial;

    & .info-wrapper {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:not(.visible) {
    pointer-events: none;
  }

  &.visible .interaction-blocker {
    position: fixed;
    display: grid;
    inset: 0;
    z-index: -1;
    touch-action: none;
  }
}

.info-wrapper {
  background: var(--main-color-half-opacity);
  box-shadow: 0px 0px 5px #00000020;
  backdrop-filter: blur(25px);
  width: min(850px, calc(90vw - 50px));
  height: 80vh;
  padding: 40px;
  border-radius: 50px;
  position: relative;
  display: flex;
  opacity: 0;
  
  transition: transform 0.2s, opacity 0.2s, backdrop-filter 0.2s;
  transform: scale(0.95);

  @media screen and (max-width: 650px) {
    background: var(--main-color);
    backdrop-filter: none;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  & .main-content {
    overflow: auto;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    @media screen and (max-width: 650px) {
      border-radius: 0;
      gap: 0;
  
      & .info-header {
        flex-direction: column;
        
        & .image {
          flex-basis: unset;
          height: min(120vw, 70vh);
          position: sticky;
          z-index: -1;
          width: 100%;
          top: 0;

          & img {
            border-radius: 0;
          }
        }
    
        & .info-header-text {
          flex-basis: unset;
          padding: 0 max(5vw, 20px);
          position: relative;

          &::before {
            position:absolute;
            content: " ";
            width: 100%;
            z-index: -1;
            left: 0;
            height: calc(max(130%, 150vw));
            background: var(--main-color-half-opacity);
            backdrop-filter: blur(25px);
          }
        }
      }
  
      & .infobox {
        padding: 0 max(5vw, 20px);
      }
    }
  }

  & .info-header {
    display: flex;
    gap: 20px;

    & .image {
      flex-basis: 40%;
      aspect-ratio: unset;
  
      & img {
        width: 100%;
        height: auto;
        aspect-ratio: unset;
      }
    }

    & .info-header-text {
      flex-basis: 60%;
    }
  }
}

.close-button {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
  display: none;
  padding: 12px;
  border-radius: 30px;
  transition: transform 0.3s, filter 0.3s;

  @media screen and (max-width: 650px) {
    display: block;
    background: var(--main-color-half-opacity);
    right: 60px;
    top: 60px;
  }

  & svg {
    width: 36px;
    display: block;
  }

  &:hover {
    transform: scale(1.1);
    filter: var(--drop-shadow);
  }
}

.infobox {
  & .info-fragment {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    & .info-name {
      white-space: nowrap;
      font-weight: 500;
      margin: 0;
      background: var(--text-color);
      color: var(--background-color);
      padding: 3px 6px;
      margin-bottom: auto;
    }

    & .info-details {
      margin: 0;
      align-self: center;
    }
  }
}