.infobox {
  & .section {
    display: grid;
    gap: 5px;
    margin-bottom: 15px;

    &.characters {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    &.relations {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }

  & .info-fragment {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    &.character {
      & img {
        object-position: top;
        height: 150px;
      }
    }

    & .info-name {
      white-space: nowrap;
      font-weight: 500;
      margin: 0;
      background: var(--text-color);
      color: var(--background-color);
      padding: 3px 6px;
      margin-bottom: auto;

      &.relation {
        width: fit-content;
        margin-bottom: 5px;
      }
    }

    & .info-details {
      overflow-wrap: anywhere;
      margin: 0;
      align-self: center;
    }
  }
}