.input-wrapper {
  color: var(--text-color);
  background-color: var(--background-color);
  filter: var(--drop-shadow);
  border-radius: 30px;
  padding: 12px 15px;
  display: flex;
  margin: auto 0;
  height: 35px;
  overflow-x: auto;
  flex-grow: 1;
  max-width: 750px;

  & input {
    margin: 0;
    display: block;
    color: var(--text-color);
    white-space: pre;
    padding-right: 2px;
    position: relative;
    
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: -1px;
    margin-left: 4px;
    resize: none;

    &::placeholder {
      color: var(--text-color-half-opacity);
    }
  }
}

.header {
  background: var(--main-color);
  padding: 20px;
  filter: var(--drop-shadow);
  display: flex;
  /* gap: 15px; */
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;

  & button {
    /* hide the button until there is a use for it */
    display: none;

    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--main-highlight-color) 49.5%, var(--background-color) 50%);

    &.active {
      --button-text-color: var(--background-color);
      --background-color: var(--main-highlight-color);

      & span {
        color: var(--background-color-copy);
      }
    }
  }
}